<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body class="abt-container">
    <div class="image">
        <h1><p id="p1"><pre>                        OUR MISSION IS TO MAKE AIR TRAVEL 
                      ACCESSIBLE,CONVENIENT, AND ENJOYABLE 
                                FOR TRAVELLERS.</pre></p></h1>
        <h1 id="s1">WHAT WE OFFER...</h1>
        <div id="container">
            
            <div><h3>EASY BOOKING:<p>Our user-friendly interface allowsyou to searcha and book flights with just a few clicks.We understandthat your time is valuable, so we've designed our website to make the booking process as simple and efficient as possible. </p></h3></div>
            <div><h3>VARIETY OF OPTION:<p>With access to a vast network of airlines,we offer a wide range of flight options to suit your preferences and budget.From economy to business class,a short-haul to long flights,you can find the perfect itinery for your needs.</p></h3></div>
            <div><h3>SIMPLE BOOKING OPTION:<p>Say goodbye to complicated booking processes.Our intuitive and straightforward booking interface guides you through the reservation process step by step,ensuring you have a smooth and stress-free experience.</p></h3></div>
            
        </div>
        <h1 id="s1">WHY US!...</h1>

        <div id="container">
            
            <div><h3>24/7 CUSTOMER SERVICE:<p>Your satisfaction is our top priority.Our dedicated customer support team is available around the clock to assist you with any inquiries,chnages,or concerns you may have before,during,and after your trip.</h3></div>
            <div><h3>OUR MISSION:<p>Your satisfaction is at the heart of everything we do.We strive to exceed your expectations and provide you with a personalized and memorable journey.</h3></div>
            <div><h3>SECURE AND RELIABLE:<p>Your privacy and  security are paramount.Our secure payment gateway and data encryption protocols ensure that your personal and payment information remains safe throughout the booking process.</h3></div> 
        </div>
    </div>
</body>
</html>