<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookingreceipt</title>
</head>
<body>
    <header class="header-eticket">
        <center><h1>Plane Ticket Purchase Receipt</h1></center>
    </header>
    <section class="section-eticket">
        <h1>Flight Details </h1>
        <div class="eticket-item eticket-item7"><h3>Booking Date: <br>01.09.23</h3></div>
        <div class="eticket-container">
            <div class="eticket-container-item">
               
                <div class="eticket-item eticket-item5"><h3>From: <br>Allahabad</h3></div>
                <div class="eticket-item eticket-item6"><h3>To: <br>Delhi</h3></div>
                
                <div class="eticket-item eticket-item1"><h3>Airline: <br>AIR INDIA</h3></div>
                <div class="eticket-item eticket-item2"><h3>Daparture_Time: <br>5 p.m</h3></div>
                <div class="eticket-item eticket-item3"><h3>Arrival_time: <br>6:30 p.m</h3></div>
                <div class="eticket-item eticket-item4"><h3>Departure_date: <br>01.09.23</h3></div>
                <div class="eticket-item eticket-item5"><h3>Price <br>Rs.1400</h3></div>
                
            </div>
               

            
        </div>
        
        

    </section>
    <style>
        body{
            background-image: linear-gradient(to bottom ,rgba(100, 148, 237, 0.433),white);
        }
        .section-eticket .eticket-item7, .section-eticket .eticket-item4{
            border-bottom: 3px solid black;

        }
        .header-eticket{
            border-bottom: 3px solid black;
        }
        
        


    </style>
    
</body>
</html>